.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 32px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 32px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: inherit;
}

.menu__item:visited {
	color: var(--black);
}

.menu__counter {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid var(--black);
	border-radius: 50%;
	width: 24px;
	height: 24px;
}
