.search {
	display: flex;
	width: 100%;
	gap: 12px;
	margin-bottom: 32px;
}

.search__wrapper {
	position: relative;
	display: flex;
	flex: 1;
}

.search__wrapper img {
	position: absolute;
	top: 22px;
	left: 16px;
}

.search__input {
	background-color: #dedede;
	border: none;
	border-radius: 5px;
	color: #252525;
	padding: 15px 15px 15px 50px;
	flex: 1;
}

.search__input::placeholder {
	color: #525252;
}

.search button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 56px;
	height: 56px;
	border-radius: 5px;
	background: var(--black);
	cursor: pointer;
}
